/*FONTS=========================*/

@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

h1 {
  font-family: "Babylonica", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  text-align: center;
  color: #333333;
}

h2 {
  font-family: "Babylonica", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333333;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  color: #333333;
}
p {
  color: #333333;
}

.babylonica-regular {
  font-family: "Babylonica", cursive;
  font-weight: 400;
  font-style: normal;
}
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*BASE STYLES===============================================*/
html {
  margin: auto;
  font-family: "Lato";
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}

/*HEADER====================================================*/
.header {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 180px;
  padding: 10px;
}
.icons img {
  width: 30px;
}

/*MENU===============================================*/
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  top: -16px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 26px;
  height: 2px;

  background-color: #e5e5e5;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  z-index: 10;
  width: 250px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;

  color: #333333;

  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;

  transition-duration: 0.25s;
}
.menu__item button {
  width: 200px;
  height: 40px;
  background-color: #e5e5e5;
  border-radius: 10px;
  border-width: 0;
  text-align: left;
  color: #333333;

  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.menu__item button:hover {
  background-color: #c2262e;
  color: #e5e5e5;
}

.menuimg {
  width: 200px;
}
/* CARDS================================================= */
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.navcard {
  background-color: #e5e5e5;
  width: 300px;
  height: 380px;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
}
.navcard p {
  height: 150px;
  width: 200px;
  font-size: 20px;
  margin: auto;
  padding-bottom: 40px;
}
.navcard button {
  background-color: #c2262e;
  color: #e5e5e5;
  border-radius: 20px;
  border-width: 0;
  width: 200px;
  height: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.navcard button:hover {
  transform: scale(110%);
}
/* -------------------------------------------------- */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
}
.catecard {
  width: 340px;
  height: 160px;
  border: solid;
  border-color: #333333;
  border-width: 1px;
  border-radius: 35px;
  display: flex;
  margin-top: 20px;
}
.catecard:hover {
  background-color: #c2262e;
  color: #e5e5e5;
}
/* FIX ^^^^ hoverstate is not changing <p> elements, but is changing other text */
.catecard img {
  width: 127px;
  height: 127px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
}
.showtext {
  text-align: center;
  margin: auto;
}
.worktext {
  text-align: center;
  margin: auto;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  width: 160px;
}
/* FIX ^^^^ cards not shrinking in smaller screen states like shows do */
/*FOOTER==================================================*/
.footer img {
  width: 90px;
}
.footer {
  width: 200px;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}
.footer p {
  font-weight: 300;
}

/* FIX =====================
-catecard:hover <p> elements not changing
-hamburger menu header
-shows catecards need to be <a>
-works catecards not shrinking in smaller screen (shows are though)
-center header wordmark
-make header wordmark <a> to index.html
-add fill effect to buttons */
