/*FONTS=========================*/

@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.babylonica-regular {
  font-family: "Babylonica", cursive;
  font-weight: 400;
  font-style: normal;
}
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html {
  font-family: "Lato";
}

h1 {
  font-family: "Babylonica", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

h2 {
  font-family: "Babylonica", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/*BASE STYLES===============================================*/
html {
  margin: auto;
}
body {
  margin: 0;
}

/*HEADER====================================================*/
.header {
  background-color: #333333;
}
.header img {
  width: 200px;
}
.icons img {
  width: 70px;
}
/*MENU===============================================*/
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  top: -16px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 26px;
  height: 2px;

  background-color: #e5e5e5;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  z-index: 10;
  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #fef8eb;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;

  color: #3c2718;

  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;

  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #fef8eb;
}

.menuimg {
  width: 200px;
}
/*FOOTER==================================================*/
.footer {
}
